<div class="p-menu">
  <div class="p-menu_bg"></div>
  <div class="p-menu_contents">
    <nav class="p-menu_nav">
      <ul  class="p-menu_list">
        <li class="p-menu_item"><a href="#">ABOUT</a></li>
      </ul>
    </nav>
  </div>
  <div class="p-menu_closeBtn c-burgerButton is-close">
    <div class="c-burgerButton_bar c-burgerButton_bar-1"></div>
    <div class="c-burgerButton_bar c-burgerButton_bar-2"></div>
    <div class="c-burgerButton_bar c-burgerButton_bar-3"></div>
  </div>
</div>