/*
---
name: Icons
category:
  - component
  - component/icon
---

```html
<p>
{{#sprites}}
  <span class="c-icon c-icon-{{fileName}}"></span>
{{/sprites}}
</p>
```
*/

.c-icon:before {
  content: '';
  display: inline-block;
  vertical-align:middle;
  background-image: url($IMG_PATH + '{{{cssPathSvg}}}' );
  background-repeat: no-repeat;
  position: relative;
  top: -0.1em;
}

{{#sprites}}
.c-icon-{{fileName}}:before {
  width: {{w}}em;
  height: {{h}}em;
  background-position: {{x}}em {{y}}em;
  background-size: ( {{width}} / {{w}} * 100% ) ( {{height}} / {{h}} * 100% );
}
{{/sprites}}
